.header__lang-link {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 100;
    align-self: flex-end;
    }

.header__lang-link:first-child {
    border-bottom: thin solid white;
}