.places {
    outline: medium darkkhaki;
    grid-row: 5;
    grid-column: 3 / 4;
}

@media screen and (max-width: 1024px) {
    .places {
        grid-column: 2 / 3;
    }
}

@media screen and (max-width: 768px) {
    .places {
        grid-column: 2 / 3;
    }
}

@media screen and (max-width: 580px) {
    .places {
        grid-column: 2 / 3;
    }
}

@media screen and (max-width: 360px) {
    .places {
        width: 320px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}