.places {
    grid-row: 5;
    grid-column: 3 / 4;
}

@media screen and (max-width: 1270px) {
    .places {
        grid-column: 2 / 5;
    }
}

@media screen and (max-width: 1024px) {
    .places {
        grid-column: 2 / 3;
    }
}

@media screen and (max-width: 365px) {
    .places {
        width: auto;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }
}