.header__lang {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 400;
    align-self: flex-end;
    transition: 0.4s ease;
    }

.header__lang:first-child {
    border-bottom: thin solid white;
}

.header__lang:hover {
    opacity: 80%;
}

@media screen and (max-width: 360px) {
    .header__lang {
        font-size: 18px;
    }
}