.place {
    outline: medium solid blanchedalmond;
    margin: auto;
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, auto-fill);
    grid-template-areas: 
    "title title title title title link link link link link"
    "image image image image image paragraph paragraph paragraph paragraph paragraph"
    "image image image image image paragraph paragraph paragraph paragraph paragraph";
    grid-auto-rows: auto;
    column-gap: 18px;
    row-gap: 48px;
    padding-top: 80px;
}

.place:first-child {
    padding-top: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-areas: 
        "title title title title title title link link link link link link"
        "image image image image image image paragraph paragraph paragraph paragraph paragraph paragraph"
        "image image image image image image paragraph paragraph paragraph paragraph paragraph paragraph";
        grid-template-columns: repeat(12, 1fr);
        max-width: none;
        column-gap: 16px;
    }
}