.header {
    margin: 28px 0 -36px 0;
    grid-column: 2 / 5;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .header {
        grid-column: 2 / 3;
    }
}

@media screen and (max-width: 768px) {
    .header {
        margin: 28px 0 -40px 0;
    }
}

@media screen and (max-width: 760px) {
    .header {
        margin-top: 16px;
    }
}

/* @media screen and (max-width: 590px) {
    .header {
        margin-top: 16px;
    }
} */

@media screen and (max-width: 365px) {
    .header {
        padding: 0 16px 0 16px;
        margin-bottom: -16px;    
    }
}