.lead__title {
    font-size: 96px;
    font-weight: 900;
    line-height: 1;
    margin: 0 auto;
    text-align: center;
    /* max-width: 720px; */
    outline: medium solid rgb(238, 255, 0);
    
}