.intro {
    width: 690px;
    grid-row: 3;
    grid-column: 3 / 4;
}

@media screen and (max-width: 1024px) {
    .intro {
        grid-column: 2 / 3;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: 100%;
    }
}

@media screen and (max-width: 365px) {
    .intro {
        padding: 0 16px 0 16px;
        width: auto;
    }
}