.intro {
    width: 690px;
    /* min-height: 429px; */
    outline: medium solid greenyellow;
    /* box-sizing: border-box; */
    grid-row: 3;
    grid-column: 3 / 10;
}

@media screen and (max-width: 1024px) {
    .intro {
        grid-column: 1 / 8;
    }
}