.cover {
    grid-row: 6;
    grid-column: 1 / 13;
    min-height: 740px;
    outline: medium solid orange;
    background-image: url("../../images/cover-trains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: .3;
    z-index: -1;
    transition: opacity .3s ease;
}

.cover:hover::before {
    opacity: .8;
}