.container_grid {
    display: grid;
    grid-template-columns: 3rem 6.25rem 1fr 6.25rem 3rem;
    /* grid-template-rows: repeat(4, auto-fill); */
    /* grid-auto-rows: auto; */
    row-gap: 92px;
    /* margin: 0 48px; */
    /* max-width: 1184px; */
    box-sizing: border-box;
    outline: medium solid salmon;
}

@media screen and (max-width: 1024px) {
    .container_grid {
        grid-template-columns: 3rem 1fr 3rem;
    }
}

@media screen and (max-width: 768px) {
    .container_grid {
        grid-template-columns: 1.5rem 1fr 1.5rem;
        row-gap: 88px;
    }
}

@media screen and (max-width: 320px) {
    .container_grid {
        grid-template-columns: 16px 320px 16px;
        column-gap: 0;
        row-gap: 64px;
    }
}