.place__paragraph {
    outline: medium solid magenta;
    font-weight: 100;
    font-size: 18px;
    line-height: 163%;
    margin: 0;
    grid-row: 2 / 3;
    grid-column: 6 / 11;
}

.place__paragraph:nth-child(5) {
    grid-row: 3 / 4;
}