.footer {
    grid-column: 3 / 5;
    grid-row: 7;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
    .footer {
        grid-column: 2 / 3;
    }
}