.footer {
    grid-column: 3 / 5;
    grid-row: 7;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
    .footer {
        grid-column: 2 / 3;
    }
}

@media screen and (max-width: 580px) {
    .footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 360px) {
    .footer {
        padding: 0 0 24px 16px;
    }
}