.place_website__link {
    outline: thin solid hotpink;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: white;
    transition: 0.4s ease; 
}

.place_website__link:hover {
    opacity: 80%;
}